@import url("style.css");

body {
    max-height: 1024px;
    max-width: 1440px;
    margin: auto;
}

main {
    display: flex;
    justify-content: center;
}

h2 {
    margin-bottom: 40px;
}

.loginSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginSection>form {
    display: flex;
    flex-direction: column;
}

input {
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
    width: 380px;
    height: 50px;
    border: none;
    margin: 20px 0;
}

form {
    color: #3D3D3D;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.passwordLink {
    text-align: center;
    text-decoration: underline;
}
.passwordLink:hover {
    text-decoration: none;
}

