@import url("style.css");

body {
    max-height: 1024px;
    max-width: 1440px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}
main {
    display: flex;
    justify-content: center;
}

